<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Ibatis" xmlns="http://ibatis.apache.org/mapping" xmlns:xls="http://www.w3.org/2001/XMLSchema-instance">
  <alias>   
    
  </alias>

  <resultMaps>  </resultMaps>

  <parameterMaps>
  </parameterMaps>
  <statements>
    <insert id="inserttets" parameterType="string">
      insert into tb_user
      (Uid,Name,Status)
      values
      ( 'xxx','xxxx',1)
    </insert>
    
    </statements>
</sqlMap>