<?xml version="1.0" encoding="utf-8" ?>
<sqlMap namespace="Ibatis" xmlns="http://ibatis.apache.org/mapping" xmlns:xls="http://www.w3.org/2001/XMLSchema-instance">
  <alias>
    <typeAlias alias="User"  type="EncryptSign.Entity.User" />>
    <typeAlias alias="SendMessage"  type="EncryptSign.Entity.SendMessage" />

    
  </alias>

  <resultMaps>  </resultMaps>

  <parameterMaps>
  </parameterMaps>
  <statements>
    <insert id="inserttets" parameterType="string">
      insert into tb_user
      (Uid,Name,Status)
      values
      ( 'xxx','xxxx',1)
    </insert>

    <insert id="InsertNewUser" parameterType="User">
      insert into tb_user
      ( Uid,Name,PublicKey, PrivateKey, PwdHash,Status)
      values
      ( #Uid#,#Name#,#PublicKey#, #PrivateKey#, #PwdHash#,1)

    </insert>

    <select id="GetEmailCount" parameterType="string">
      select Count(*) from tb_user
      where 
      Status=1
      and Uid=#value#
    </select>
    
    <select id="GetUserInfo" parameterType="Hashtable" resultClass="User">
      select * from tb_user
      where
      Status=1
      and Uid=#Uid#
    </select> 

    <select id="GetAllReceiveUserList" parameterType="int" resultClass="User">
      select * from tb_user
      where
      Status=1
      and ID  <![CDATA[<>]]>  #value#
    </select>

    <select id="GetUserInfoByUserID" parameterType="int" resultClass="User">
      select top 1 * from tb_user
      where
      Status=1
      and ID=#value#
    </select>  

    <insert id="InsertNewSendMsg" parameterType="SendMessage">
      insert into tb_msg
      (SenderID,ReceiverID,SentTime,MessageCiphertext,MessageSignature,Status)
      values
      (#SenderID#,#ReceiverID#,Now(),#MessageCiphertext#,#MessageSignature#,1)
    </insert>

    <select id="QueryAllReceiceMsgList" parameterType="int" resultClass="SendMessage">
      SELECT msg.*, u.Uid as SendeUid , u.Name as SenderName
      FROM tb_msg AS msg LEFT JOIN tb_user AS u ON msg.SenderID=u.ID
      where
      (msg.Status=1 or msg.Status=2)
      and msg.ReceiverID=#value#
    </select>

    <select id="GetMsgInfo" parameterType="int" resultClass="SendMessage">
      SELECT msg.*, u.Uid as SendeUid , u.Name as SenderName
      FROM tb_msg AS msg LEFT JOIN tb_user AS u ON msg.SenderID=u.ID
      where
      msg.ID=#value# 
    </select>

    <select id="GetReceiverPrivateKey" parameterType="int" resultClass="string">
      select PrivateKey from tb_user where ID=#value#
    </select>

    <select id="GetSenderPublicKey" parameterType="int" resultClass="string">
      select PublicKey from tb_user where ID=#value#
    </select>


    <update id="UpdateMsgReadStatus" parameterType="int" >
      update tb_msg
      set Status=2
      where ID=#value#
    </update>
  </statements>
</sqlMap>