<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig   xmlns="http://ibatis.apache.org/dataMapper"  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--properties resource="properties.config"/-->
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information --> 

    <database>
      <provider name="OleDb2.0"/>
      <dataSource name="db" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Data/db.mdb"/>
    </database>   

  <sqlMaps>
    <sqlMap resource="Map/op.config" />  

  </sqlMaps>

</sqlMapConfig>